@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #727272;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.bg-light{
    background-color: rgba(225, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1350px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
}
.banner-image{
    width: 100%;
    margin: 0 auto;
}

/* Main section */
main > section{
    margin-top: 130px;
}
main{
    max-width: 1350px;
    margin: 0 auto; 
}
.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
.color-text{
    color: #ff900e;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 500px;
}

@media screen and (max-width: 576px) {
    .navbar, .nav-link, .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}