@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #727272;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.bg-light{
    background-color: rgba(225, 144, 14, 0.1);
}
.navbar, .banner, .footer{
    max-width: 1350px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
}
.banner-image{
    width: 100%;
    margin: 0 auto;
}

/* Main section */
main > section{
    margin-top: 130px;
}
main{
    max-width: 1350px;
    margin: 0 auto; 
}
.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
.color-text{
    color: #ff900e;
}
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 500px;
}

/* features section */
.features{
    gap: 100px;
}
#features-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.features-card{
    padding: 25px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -70px;
    margin-top: -100px;
}
#experience-year{
    font-size: 3.5rem;
    font-weight: 700;
}
.features-architect img{
    width: 100%;
}

/* fact container */
.facts-description{
    max-width: 500px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    width: 240px;
    height: 240px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsors related style */
.sponsors-info{
    margin: 50 auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100);
}

/* footer */
.footer{
    margin-top: 130px;
    margin-bottom: 200px;
    height: 100px;
    background-color: #FFF4E7;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* responsive style */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .features, .teams{
        flex-direction: column;
    }
    .team-image-container, .facts-container, .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container, .sponsors-companies{
        justify-items: center;
        gap: 24px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    #experience-badge{
        margin-top: 40px;
        margin-left: 40px;
    }
    .facts-container, .sponsors-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}